<!DOCTYPE html>
<html lang="kr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>새로운인간의탄생</title>
    <script type="text/javascript" src="./static/js/shasha.js"> </script>
  </head>
  <body>

    <form action="/newuser" method="post">
      <span>닉네임 : </span><input type="text" id= "username" name="username"><br>
      <span>주문 : </span><input type="text" id= "sha" name="sha"><br>
      <!--span>data : </span><input type="text" name="data"><br-->
      <button id = 'fetchnewuserB' type="button" formmethod="POST">생성</button>
    </form>

  </body>
  <script type="text/javascript">

    fetchnewuserB = document.getElementById("fetchnewuserB")
    fetchnewuserB.addEventListener('click', fetchnewuser)

    function fetchnewuser(){
      let username = document.getElementById("username").value
      let sha = sha256(encodeURI( document.getElementById("sha").value ))
      let params = { 'username': username, 'sha': sha,}
      let url = window.location.href.split(window.location.pathname)[0]
      let fetchurl = url+'/fetchnewuser'
    fetch(fetchurl,
    {
      method: 'POST', // or 'PUT'
      body: JSON.stringify(params), // data can be `string` or {object}!
      headers:{
        'Content-Type': 'application/json'
      }
    })
    //.then( function(response){return response.json()})
    .then( response => response.json() )
    .then(function(myJson){
      let rawText = myJson['bodytext']
      console.log(rawText)
    })

    }

  </script>
</html>
